@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,cyrillic);


// Colors
$color-white: rgba(255, 255, 255, 1);
$color-white-light: rgba(255, 255, 255, .3);
$color-black: rgba(0, 0, 0, 1);
$color-black-light: rgba(0, 0, 0, .3);
$color-orange: rgba(249, 177, 3, 1);
$color-orange-light: rgba(249, 177, 3, .3);

// Fonts
$op-font: "Open Sans", sans-serif;

// Sizes
$width: 960px;
$color-t: rgba(0,0,0,1);
$left-right-m: 5%;
$font: Arial, Tahoma, sans-serif;